<style>
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
#des{
  padding-left: 20px;
}
</style>
<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron" style="background-image: url(http://hdwallpaperia.com/wp-content/uploads/2013/11/Abstract-Background-Wallpaper.jpg); background-size: 100%;">
  <h1 class="margin"><span style="color:lightblue">{{week}}</span> Sales Statistics</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<div id="output">
  <div>
    <table style="width:100%" class="table table-hover">
      <tr>
        {{#key}}<th id="des" class="info">{{Description}}</th>
        <td class="para"><strong><span style="color:#00adc8">{{Item}} {{Category}}</span></strong></td>
        {{#if Profit}}
        <th class="info"><span style="color:#059407">Profit</span></th>
        {{else}}
        <th class="info">Quantity</th>
        {{/if}}
        <td class="para">{{Quantity}} {{Profit}}</td>
      </tr>{{/key}}
    </table>
  </div>
</div>
